# later version 0.85.0 exists
fastapi==0.63.0
# later version 0.18.3 exists
uvicorn==0.13.4

# later version 2.5.0 exists
PyJWT==1.7.1

# later version 3.6 exists
python-decouple==3.3

pydantic=1.10.2
